/*Base*/
@import "partials/reset";
@import "partials/footer";
@import "partials/index";
@import "partials/nosotros_grid_uno";
@import "partials/nosotros_grid_dos";
@import "partials/galeria";
@import "partials/reserva_img";
@import "partials/reserva_forms";
@import "partials/giftcard";

/*Extend*/
@import "componentes/botones";

/*Media Querys*/
@import "media_querys/mediaquery_mobile";
@import "media_querys/mediaquery_tablet";
@import "media_querys/mediaquery_laptop";
@import "media_querys/mediaquery_laptop_l";
@import "media_querys/mediaquery_excepciones";
