@media only screen and (max-width: 425px) {
  /* footer*/
  footer {
    .footer-nav {
      .footer-copy {
        padding-right: 12px;
        font-size: 9px;
        font-weight: bold;
      }
    }
    .footer-menu {
      ul {
        display: none;
      }
    }
  }

  /* index */
  main .fila-index {
    display: block;
    .texto-img {
      h3 {
        font-size: 24px;
        margin: 5px 0px 10px 3px;
        text-decoration: 1px underline #e7b3b3;
        font-family: "Montserrat", sans-serif;
      }
      p {
        font-size: 16px;
        margin: 0px 3px 16px 3px;
      }
    }
  }
  /* nosotros */
  section.grid-container {
    margin: 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    .one-grid {
      grid-column: 1/2;
      grid-row: 1/2;
      background-color: #f0efef;
    }
    .two-grid {
      display: flex;
      background-color: #f0efef;
      grid-column: 1/2;
      grid-row: 2/3;
      justify-content: center;
      align-items: center;
    }
  }
  section.grid-container-two {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
    text-align: center;
    gap: 10px;
    padding: 0;
  }
  /* galeria */
  .container-galeria {
    display: none;
  }
  .mobile-2 {
    margin-top: 20px;
  }
  /* reserva */
  .container-reserva {
    .flotante {
      z-index: 1;
      transform: translate(8px, 510px);
      padding-bottom: 10px;
      &:hover {
        transform: translate(8px, 455px);
        transition: 1s;
      }
      h4 {
        margin-top: 5px;
        font-size: 16px;
      }
      p {
        width: 300px;
        font-size: 12px;
        margin: 0;
      }
    }
  }
  .contenedor-reserva {
    display: none;
  }
  .reserva-mobile {
    .monto-reserva {
      .costo-reserva {
        text-align: center;
      }
      h3 {
        margin: 0;
        margin: 10px 0 10px 0;
        text-decoration: 1px underline #e7b3b3;
        font-family: "Montserrat", sans-serif;
        text-align: center;
      }
    }
    .reserva-input {
      display: flex;
      justify-content: center;
      text-align: center;
      input {
        width: 100px;
        margin: 10px 10px 30px 10px;
      }
    }
    .boton-reserva {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
      }
    }
  }

  /*giftcard*/
  .container-giftcard {
    display: none;
  }
  .giftcard-mobile {
    .giftcard-mobile-1 {
      display: grid;
      grid-column: 1;
      grid-row: 4;
      text-align: center;
      margin-top: 10px;
      input {
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #dee2e6;
        padding: 5px;
      }
    }
    .giftcard-mobile-2 {
      display: grid;
      grid-column: 1;
      grid-row: 4;
      text-align: center;
      margin: 30px 0 20px 0;
      input {
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #dee2e6;
        padding: 5px;
      }
    }
  }
}
