@media only screen and (min-width: 1025px) {
  /* index */
  .img-fluid {
    width: 35%;
    margin-bottom: 5px;
  }
  main .fila-index {
    .texto-img {
      h3 {
        margin: 5px 40px 10px 40px;
        text-decoration: 1px underline #e7b3b3;
      }
      p {
        font-size: 24px;
        margin: 0 300px 0 40px;
      }
    }
  }
  .texto-img img .w-100 {
    width: 20% !important;
  }
  /*  galeria */
  .Container-mobile {
    display: none;
  }
  /* reserva */
  .reserva-mobile {
    display: none;
  }
  /* giftcard */
  .giftcard-mobile {
    display: none;
  }
}
