@media only screen and (min-width: 426px) and (max-width: 630px) {
  /* galeria */
  .container-galeria {
    display: none;
  }
  .mobile-2 {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 631px) and (max-width: 768px) {
  /* Definiciones galeria */
  .Container-mobile {
    display: none;
  }
}
@media only screen and (min-width: 382px) and (max-width: 425px) {
  /* galeria */
  .container-index {
    .flotante {
      z-index: 1;
      transform: translate(8px, 490px);
      padding-bottom: 10px;
      &:hover {
        transform: translate(8px, 485px);
        transition: 1s;
      }
      h4 {
        margin-top: 5px;
        font-size: 16px;
      }
      p {
        width: 300px;
        font-size: 12px;
        margin: 0;
      }
    }
  }
}
