/*  Mobile galeria */
.Container-mobile {
  display: none;
}

/*  MEDIA QUERYS - Definiciones reserva */
.reserva-mobile {
  display: none;
}

/* Definiciones giftcard */
.giftcard-mobile {
  display: none;
}
