/* Definiciones Index */
main .fila-index {
  display: flex;
  .texto-img {
    h3 {
      margin: 5px 0 10px 3px;
      text-decoration: 1px underline #e7b3b3;
      font-family: "Montserrat", sans-serif;
    }
    p {
      margin: 0px 3px 16px 3px;
    }
  }
}
