/* Definiciones reserva imagenes */
.container-reserva{
  .flotante{
    display: inline-flex;
    position: fixed;
    flex-direction: column;
    background: linear-gradient(to bottom,#F8F9FA, #fcdddd);
    border: 2px solid #F8F9FA;
    border-radius: 5px;
    padding-bottom: 20px;
    transform: translate(20px,-80px);      
    transition: 1s;
    &:hover{            
      transform: translate(20px,-70px);
      transition: 1s;      
    }

    h4{
      margin:  10px 5px 0 5px;
      color: #E7B3B3;
    }
    p{
      margin:  10px 5px 0 5px;
      width: 250px;
      text-align: center;
      span{
        font-weight: bold;
        font-size: 20px;
      }      
    }    
    
    box-shadow: 3px 3px 20px 2px rgba(0, 0, 0, 0.2);
    
  }
}
section .forms-container {
  display: grid;
  grid-template-rows: repeat(6);
  grid-template-columns: repeat(3, 1fr);
  margin: 0 50px;
  gap: 10px 30px;
  .forms-nombre {
    h3 {
      margin: 0;
      margin: 0;
      text-decoration: 1px underline #e7b3b3;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
    }
  }
  .forms-img {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
