/*Estilos generales aplicados a toda la web*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
    section{
    margin-top: 100px;
    margin-bottom: 100px;    
    }    
    h1{
        font-family: 'Montserrat', sans-serif;
        text-align: end;
        padding-right: 12px;
        background-color:#FCDDDD;
        color: white;      
    }   